@model SporOrganizasyon.Models.Kullanici

@{
    ViewBag.Title = "Kullanici Düzenle";
}

<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

            <h4>@Html.ActionLink("Profilim", "Index", new { }, new { @class = "btn btn-success" })</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Kid)
            <div class="form-group">
                @Html.LabelFor(model => model.Ad, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Ad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ad, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Soyad, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Soyad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Soyad, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Telefon, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Telefon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Sifre, "Şifre", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Sifre, new { htmlAttributes = new { @class = "form-control", type = "password", value = "" } })
                
                @Html.ValidationMessageFor(model => model.Sifre, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Ilce, "İkamet", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Ilce, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ilce, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DogumTarihi, "Doğum Tarihi", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.DogumTarihi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DogumTarihi, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Cinsiyet, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Cinsiyet, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cinsiyet, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-danger" />
            </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
