@model SporOrganizasyon.Models.Mekan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mekan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MekanAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MekanAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ilceler.Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ilceler.Ad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Mid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
