@model Tuple<Kullanici,List<Sporlar>>
@using SporOrganizasyon.Models

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@*<div class="typing-content">
    <h3>Test</h3>
    <form class="flowform jspost" action="index.html" method="post">
        <div class="form-group visible">
            <label for="q1">What is Your Name and Surname ?</label>
            <input type="text" id="q1" name="name" class="form-control toenter" targetbtn="q1btn">
            <button type="button" class="btn btn-default flowbutton" id="q1btn">Continue</button>
        </div>
        <div class="form-group">
            <label for="q2">Phone Number:</label>
            <input type="tel" id="q2" name="phone" class="form-control toenter" targetbtn="q2btn">
            <button type="button" class="btn btn-default flowbutton" id="q2btn">Continue</button>
        </div>
        <div class="form-group">
            <label for="q3">What is your mail adress?</label>
            <input type="email" id="q3" name="email" class="form-control toenter" targetbtn="q3btn">
            <button type="button" class="btn btn-default flowbutton" id="q3btn">Continue</button>
        </div>
        <div class="form-group">
            <label for="q4">Son?</label>
            <input type="text" id="q4" name="last" class="form-control toenter" targetbtn="q4btn">
            <button type="submit" class="btn btn-default" id="q4btn">Submit</button>
        </div>
    </form>
</div>*@


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group visible">
        @Html.LabelFor(model => model.Item1.Ad, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Item1.Ad, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Item1.Ad, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Item1.Soyad, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Item1.Soyad, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Item1.Soyad, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Item1.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Item1.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Item1.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Item1.Telefon, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Item1.Telefon, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Item1.Telefon, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Item1.Sifre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Item1.Sifre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Item1.Sifre, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Item1.Ilce, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Item1.Ilce, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Item1.Ilce, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Item1.DogumTarihi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Item1.DogumTarihi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Item1.DogumTarihi, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Item1.Cinsiyet, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Item1.Cinsiyet, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Item1.Cinsiyet, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">

        @Html.Label("Spor Secin", htmlAttributes: new { @class = "control-label col-md-2" })
        @foreach (var item in Model.Item2)
        {
            <label class="checkbox-inline"><input type="checkbox" name="sporlar" value=@item.SporId>@item.SporAdi</label>
        }
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>

    }


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
