@model SporOrganizasyon.Models.Etkinlik

@{
    ViewBag.Title = "Delete";
}


<div class="container">
    <h3>Etkinliği Silmek İstediğinize Emin misiniz?</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EtkinlikAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EtkinlikAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EtkinlikTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EtkinlikTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kontenjan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kontenjan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EtkinlikTipi.Tip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EtkinlikTipi.Tip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sporlar.SporAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sporlar.SporAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mekan.MekanAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mekan.MekanAdi)
        </dd>

        <br />

        <dd>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Sil" class="btn btn-warning" style="width:100px" />

            }


        </dd>

    </dl>


</div>
